html,
body {
    background-color: #f1f1f1;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100vh;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    width: vw;
}

* {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

#preview {
    background: #fff;
    border: 0;
    height: 100%;
    width: 100%;
}

textarea {
    background: #333;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: calc(100% - 16px) calc(100% - 16px);
    border: 0;
    color: #fff;
    font-family: monospace;
    height: 100%;
    resize: none;
    width: 100%;
}

textarea:focus {
    outline: none;
}

.editor {
    position: relative;
}

.editor::after {
    background-repeat: no-repeat;
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 1;
}

#css::after {
    background-image: url(./assets/css3.svg);
}

#html::after {
    background-image: url(./assets/html5.svg);
}

#typescript::after {
    background-image: url(./assets/js.svg);
}

.grid {
    display: grid;
    grid-template-rows: 1fr 2px 1fr;
    grid-template-columns: 1fr 2px 1fr;
    height: 100vh;
    width: 100vw;
}

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
}

.gutter-col-1 {
    grid-column: 2;
}

.gutter-row {
    grid-column: 1/-1;
    cursor: row-resize;
}

.gutter-row-1 {
    grid-row: 2;
}