html,
body {
    background-color: #f1f1f1;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100vh;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    width: vw;
}
* {
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

#preview {
    background: #fff;
    border: 0;
    height: 100%;
    width: 100%;
}

textarea {
    background: #333;
    border: 0;
    color: #fff;
    font-family: monospace;
    height: 100%;
    resize: none;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 10px 1fr;
    grid-template-columns: 1fr 10px 1fr;
    width: 100vw;
    height: 100vh;
}

.gutter-col {
    grid-row: 1/-1;
    cursor: col-resize;
}

.gutter-col-1 {
    grid-column: 2;
}

.gutter-row {
    grid-column: 1/-1;
    cursor: row-resize;
}

.gutter-row-1 {
    grid-row: 2;
}